    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800&display=swap');
    /* Start Variables */
    
     :root {
        --header-height: 3.5rem;
        --title-color: hsl(250, 8%, 15%);
        --text-color: hsl(250, 8%, 35%);
        --body-color: hsl(250, 60%, 98%);
        --shadow: hsla(0, 0%, 15%, .1);
        --con-color: #fff;
        --scroll-color: hsl(250, 120, 90%);
        --scroll-thumb-color: hsl(250, 120, 90%);
        /* fonts */
        --font: 'Poppins', sans-serif;
        --big-font: 4rem;
        --h1-font: 2.5rem;
        --h2-font: 1.7rem;
        --h3-font: 1.4rem;
        --normal-font: 1.2rem;
        --small-font: 1.1rem;
        --smallest-font: .825rem;
        /* font-wight */
        --font-med: 500;
        --font-bold: 600;
    }
    
    @media (max-width: 991px) {
         :root {
            /* fonts */
            --font: 'Poppins', sans-serif;
            --big-font: 2.5rem;
            --h1-font: 1.7rem;
            --h2-font: 1.25rem;
            --h3-font: 1rem;
            --normal-font: .9rem;
            --small-font: .8rem;
            --smallest-font: .74rem;
        }
    }
    /* End Variables */
    /* Start global rules */
    
    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    body,
    button,
    input {
        font-family: var(--font);
        font-size: var(--normal-font);
    }
    
    body {
        background-color: var(--body-color);
        color: var(--text-color);
    }
    
    h1,
    h2,
    h3 {
        font-weight: var(--font-bold);
        color: var(--title-color);
    }
    
    ul {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    button {
        cursor: pointer;
    }
    
    button,
    input {
        border: none;
        outline: none;
    }
    
    .container {
        padding-left: 15px;
        padding-right: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    
    @media (min-width: 577px) {
        .container {
            width: 540px;
        }
    }
    
    @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }
    
    @media (min-width: 992px) {
        .container {
            width: 970px;
        }
    }
    
    @media (min-width: 1200px) {
        .container {
            width: 1170px;
        }
    }
    
    @media (min-width: 1400px) {
        .container {
            width: 1350px;
        }
    }
    /* End global rules */
    /* SWIPER CLASS */
    
    .main-color {
        color: var(--first-color);
    }
    
    .button {
        display: inline-block;
        background-color: var(--first-color);
        color: #fff;
        padding: .5rem 1.5rem;
        transition: 0.35s;
        border-radius: 10px;
    }
    
    .button:hover {
        background-color: var(--first-color-alt);
    }
    
    .button-icon {
        font-size: 1rem;
    }
    
    .button-link {
        color: var(--title-color);
    }
    
    .button-flex {
        display: inline-flex;
        align-items: center;
        gap: .5rem;
    }
    /* SWIPER CLASS */
    
    .swiper-pagination {
        position: initial;
        margin-top: 2rem;
    }
    
    .swiper-pagination-bullet {
        width: 5px;
        height: 5px;
        background-color: var(--title-color);
        opacity: 1;
    }
    
    .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 .5rem;
    }
    
    .swiper-pagination-bullet-active {
        width: 1.5rem;
        height: 5px;
        border-radius: .5rem;
        background-color: var(--first-color);
    }
    /* themes */
    
    .section {
        padding: 7rem 0 2rem;
        overflow: hidden;
    }
    
    .section-title,
    .bearcrumb-title {
        margin-top: 20px;
        font-size: var(--h1-font);
        line-height: 1.5;
        letter-spacing: .5px;
    }
    
    .section-title,
    .bearcrumb-subtitle {
        margin-bottom: 3rem;
    }
    
    .section-title,
    .bearcrumb-title,
    .bearcrumb-subtitle {
        text-align: center;
    }
    
    .bearcrumb-subtitle {
        margin-top: 20px;
    }
    
    .grid {
        display: grid;
    }
    
    .login-toggle,
    .cart-shop,
    .nav-toggle {
        font-size: 1.25rem;
        cursor: pointer;
    }
    
    .nav-toggle {
        display: none
    }
    /* themes */
    /* HEADER SCE */
    
    header {
        width: 100%;
        padding: 10px;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
    }
    
    header nav {
        height: calc(var(--header-height) + 1.5rem);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
    }
    
    header i {
        color: var(--title-color);
    }
    
    header .nav-logo {
        display: flex;
        font-weight: var(--font-bold);
        letter-spacing: 1px;
        font-size: var(--h3-font);
        align-items: center;
        column-gap: 0.5rem;
        color: var(--title-color);
    }
    
    @media (max-width: 991px) {
        header .nav-logo {
            font-size: var(--h2-font);
        }
    }
    
    header .nav-items {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    
    header .nav-items .item .nav-link {
        font-size: 18px;
        font-weight: var(--font-med);
        color: var(--title-color);
        transition: 0.4s;
    }
    
    header .nav-items .item .nav-link:hover {
        padding: 4px 8px;
        background-color: var(--first-color);
        border-radius: 0;
        color: var(--con-color)
    }
    
    @media (max-width: 991px) {
        header .nav-items {
            gap: 1rem;
        }
        header .nav-items .item .nav-link {
            font-size: 18px;
            font-weight: var(--font-med);
            color: var(--title-color);
            transition: 0.4s;
        }
    }
    
    @media (max-width: 767px) {
        header .nav-items {
            display: flex;
            flex-direction: column;
            top: -500px;
            position: absolute;
            background-color: white;
            width: 100%;
            left: 0;
            box-shadow: 0 1px 4px var(--shadow);
        }
        header .nav-items .item {
            padding: 20px 30px;
            background-color: white;
            text-align: center;
        }
        header .nav-items .item .nav-link {
            font-weight: var(--font-bold);
        }
        .nav-toggle {
            display: block
        }
        header .nav-items .item .nav-link:hover {
            background-color: var(--con-color);
            color: var(--first-color);
            padding: 0;
        }
    }
    
    .nav-show {
        top: 75px !important;
    }
    /*  */
    
    header .nav-logo-icon {
        font-size: 1.25rem;
    }
    
    header .nav-btns {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-left: 0 auto;
    }
    /* show menu */
    /* change background header */
    
    .scroll-header {
        background-color: var(--body-color);
        box-shadow: 0 1px 4px var(--shadow);
    }
    /* active link */
    
    .active-link {
        position: relative;
    }
    
    .active-link::before {
        content: '';
        position: absolute;
        bottom: -.75rem;
        left: 45%;
        width: 5px;
        height: 5px;
        background-color: var(--title-color);
        border-radius: 40%;
    }
    /* END HEADER SCE */
    /* START HOME  */
    
    .home-content {
        padding: 9rem 0 2rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
    
    .home-group {
        display: grid;
        position: relative;
        padding-top: 2rem;
    }
    
    .home-img {
        height: 420px;
        transform: translateY(-3rem);
        justify-self: center;
    }
    
    .home-ind {
        width: 8px;
        height: 8px;
        background-color: var(--title-color);
        border-radius: 40%;
        position: absolute;
        bottom: 15%;
        left: 45%;
    }
    
    .home-ind::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 75px;
        background-color: var(--title-color);
        top: 0;
        right: 45%;
    }
    
    .home-img-details {
        position: absolute;
        bottom: 0;
        right: 58%;
    }
    
    .home-details-title {
        font-weight: var(--font-med);
    }
    
    .home-details-title,
    .home-details-subtitle {
        display: block;
        font-size: calc(var(--normal-font) + 2px);
        text-align: right;
    }
    
    .home-subtitle {
        font-size: var(--h2-font);
        text-transform: uppercase;
        margin-bottom: 1rem;
        cursor: context-menu;
    }
    
    .home-title {
        font-size: var(--big-font);
        font-weight: var(--font-bold);
        margin-bottom: 1.5rem;
        cursor: context-menu;
    }
    
    .home-disc {
        margin-bottom: 2.5rem;
        padding-right: 2rem;
        cursor: context-menu;
        line-height: 1.6;
    }
    
    .home-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .home-buttons .button:hover {
        padding: 0.5rem 2.5rem;
    }
    /* HOME MEDIA QUERY */
    
    @media (max-width: 991px) {
        .home-content {
            padding: 8rem 0 0rem;
        }
        .home-img {
            height: 300px;
            transform: translateY(0);
        }
        .home-ind {
            bottom: initial;
            left: initial;
            top: 7rem;
            right: 2rem;
        }
        .home-ind::after {
            top: -3rem;
            height: 48px;
        }
        .home-img-details {
            bottom: initial;
            right: 0.6rem;
        }
        .home-disc {
            padding-right: 0;
        }
        .swiper-pagination {
            margin-top: 2rem;
        }
    }
    
    @media (max-width: 767px) {
        body {
            margin: var(--header-height);
        }
        .section {
            padding: 4rem 0 !important;
        }
        .nav {
            height: var(--header-height);
        }
        .home-buttons .button:hover {
            padding: .5rem 1.5rem;
        }
    }
    
    @media (max-width: 600px) {
        .home-content {
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
            text-align: center;
            gap: 0;
        }
        .home-subtitle {
            position: absolute;
            top: 15%;
            left: 5%;
        }
        .home-img {
            height: 250px;
        }
        .home-buttons .button,
        .home-buttons .button:hover {
            padding: 0.5rem .5rem;
        }
    }
    /*************** END HOME  ****************/
    /*************** START SHOP  ****************/
    
    .shop-container {
        grid-template-columns: 1.7fr 3.3fr;
        gap: 1rem;
    }
    
    .sidebar {
        padding: 1.8rem;
        background-color: var(--con-color);
        border-radius: 1rem;
    }
    
    .filter-content {
        margin: 20px 0;
    }
    
    .filter-title {
        margin-bottom: 2rem;
        text-transform: uppercase;
        font-size: var(--h3-font);
    }
    
    .filter-subtitle {
        margin-bottom: 1.5rem;
        color: var(--text-color);
        font-size: var(--normal-font);
    }
    
    .filter {
        display: flex;
        align-items: center;
        color: var(--text-color);
        margin: 8px 0;
        font-size: var(--normal-font);
    }
    
    .filter p {
        flex: 1;
    }
    
    .filter input {
        margin-right: .8rem;
        cursor: pointer;
    }
    
    .shop-items {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.6rem;
    }
    
    .shop-content {
        position: relative;
        background-color: var(--con-color);
        padding: 2rem 0;
        border-radius: 1rem;
        text-align: center;
        overflow: hidden;
    }
    
    .shop-img {
        width: 160px;
        margin-bottom: 1rem;
    }
    
    .shop-content .tag {
        position: absolute;
        top: 6%;
        left: 8%;
        font-size: var(--small-font);
        background-color: var(--first-color);
        color: #fff;
        padding: 4px 10px;
        border-radius: 0.5rem;
    }
    
    .shop-title {
        margin: 10px 0 5px 0;
        font-weight: var(--font-med);
    }
    
    .shop-subtitle {
        display: inline-flex;
        margin-bottom: 20px;
        color: var(--text-color);
    }
    
    .shop-price {
        font-size: var(--normal-font);
        margin-bottom: 4px;
        font-weight: var(--font-bold);
    }
    
    .shop-discount {
        color: var(--first-color);
        text-decoration: line-through;
        font-weight: var(--font-med);
        font-size: var(--small-font);
    }
    
    .button.shop-button {
        position: absolute;
        border-radius: .25rem 0 .75rem 0rem;
        right: -72px;
        bottom: 0;
        padding: 0.4rem 1rem;
        transition: 0.4s;
    }
    
    .shop-content:hover .shope-img {
        transform: translateY(-0.5rem);
    }
    
    .shop-content:hover .shop-button {
        right: 0;
    }
    /* pagination */
    
    .pagination {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 0.8rem;
        margin-top: 2.5rem;
        margin-right: 5px;
    }
    
    .pagination span {
        width: 2.2rem;
        height: 2.2rem;
        line-height: 36px;
        text-align: center;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .pagination span.current {
        background-color: var(--first-color);
        color: #fff;
    }
    
    .pagination i {
        font-size: calc(var(--normal-font) + 2px);
        cursor: pointer;
    }
    
    @media (max-width: 992px) {
        .shop-container {
            grid-template-columns: 1.5fr 3.5fr;
        }
        .shop-content {
            padding: 2rem 0 1.5rem 0;
            border-radius: 0.7rem;
        }
        .shop-img {
            width: 120px;
        }
        .shop-subtitle,
        .shop-img {
            margin-bottom: 10px;
        }
        .shop-items {
            gap: 1rem;
        }
    }
    
    @media (max-width: 767px) {
        .shop-container {
            grid-template-columns: 540px;
            justify-content: center;
            gap: 2rem;
        }
        .pagination {
            justify-content: center;
        }
    }
    
    @media (max-width: 576px) {
        .shop-container {
            grid-template-columns: 0.8fr;
        }
        .shop-items {
            grid-template-columns: 1fr;
        }
        .sidebar {
            padding: 1.25rem 1.4rem;
        }
        .pagination span {
            width: 1.8rem;
            height: 1.8rem;
            line-height: 30px;
        }
        .pagination {
            gap: 0.45rem;
        }
    }
    /*************** END SHOP  ****************/
    /*************** START BLOG  **************/
    
    .blog-container {
        overflow: hidden;
    }
    
    .blog-img {
        border-radius: 1.5rem;
    }
    
    .blog-post {
        background-color: var(--con-color);
        border-radius: 2rem;
        padding: 30px 20px;
        margin: 30px 0;
        grid-template-columns: 2.6fr 3.4fr;
        gap: 2rem;
    }
    
    .blog-info {
        padding: 20px;
        position: relative;
    }
    
    .blog-info .up-info {
        font-size: var(--normal-font);
        line-height: 1.6;
        color: var(--text-color);
    }
    
    .info-title {
        margin: 25px 0 15px 0;
    }
    
    .info-discription {
        font-size: var(--small-font);
        color: var(--text-color);
    }
    
    .read-more {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: var(--text-color);
        position: absolute;
        bottom: 4%;
        right: 4%;
        transition: 0.3s;
    }
    
    .read-more:hover {
        color: var(--first-color);
    }
    
    @media (max-width: 991px) {
        .blog-post {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    @media (max-width: 767px) {
        .blog-post {
            margin: 10px;
            padding: 15px 10px;
            gap: 1rem;
        }
        .read-more {
            bottom: -4px;
            right: 2px;
        }
    }
    
    @media (max-width: 576px) {
        .blog-post {
            grid-template-columns: 1fr;
            margin: 10px;
            padding: 15px 10px;
            gap: 1rem;
        }
        .read-more {
            bottom: 0;
            right: 0;
        }
    }
    /*************** END BLOG  ****************/
    /*************** START FAQ  ****************/
    
    .questions-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        align-items: flex-start;
    }
    
    .questions-group {
        display: grid;
        gap: 2rem;
    }
    
    .questions-item {
        background-color: var(--con-color);
        border-radius: .4rem;
        margin: 10px;
    }
    
    .questions-item-title {
        margin: 20px 0;
    }
    
    .questions-header {
        display: flex;
        gap: 0.8rem;
        align-items: center;
        padding: 1rem 2.5rem;
        cursor: pointer;
    }
    
    .questions-item-title {
        color: var(--title-color);
    }
    
    .questions-content {
        overflow: hidden;
        height: 0;
    }
    
    .questions-discription {
        line-height: 1.8;
        font-size: var(--small-font);
        padding: 0 1.5rem 2.25rem 2.75rem;
    }
    
    .questions-item,
    .questions-header,
    .questions-item-title,
    .questions-item-title i,
    .questions-content,
    .questions-discription {
        transition: 0.34s;
    }
    
    .accordion-open .questions-header,
    .accordion-open .questions-content {
        background-color: var(--first-color);
    }
    
    .accordion-open .questions-item-title,
    .accordion-open .questions-discription,
    .accordion-open .questions-header i {
        color: #fff;
    }
    
    .accordion-open .questions-header i {
        transform: rotate(45deg);
    }
    
    @media (max-width: 991px) {}
    
    @media (max-width: 767px) {
        .questions-container {
            grid-template-columns: 1fr;
            gap: 1rem;
        }
        .questions-group {
            gap: 1rem;
        }
    }
    /*************** END FAQ  ****************/
    /*************** START About  ****************/
    
    .about-container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 7rem;
    }
    
    .about-img {
        width: 380px;
        justify-self: start;
        margin: 0 auto;
    }
    
    .about-title {
        margin-bottom: 1rem;
        text-align: left;
    }
    
    .about-main-description {
        margin-bottom: 2rem;
    }
    
    .about-details {
        row-gap: 1.2rem;
    }
    
    .about-description {
        display: inline-flex;
        column-gap: 0.65rem;
    }
    
    .about-details i {
        font-size: 1rem;
        color: var(--first-color);
    }
    
    @media (max-width: 991px) {
        .about-container {
            column-gap: 4rem;
        }
    }
    
    @media (max-width: 767px) {
        .about-container {
            grid-template-columns: 1fr;
            row-gap: 5rem;
        }
        .about-data {
            text-align: center;
            margin: 0 auto;
        }
        .about-details {
            text-align: center;
        }
    }
    
    @media (max-width: 576px) {
        .about-title {
            text-align: center;
        }
        .about-details {
            text-align: center;
            padding: 0 30px;
        }
        .about-data {
            text-align: center;
            width: 90%;
        }
        .about-description {
            text-align: left;
        }
    }
    /*************** END About  ****************/
    /*************** START DETAILS  ****************/
    
    .details-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
    }
    
    .product-imgs {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 3rem;
    }
    
    .product-img {
        overflow: hidden;
        background-color: var(--con-color);
        padding: 1.2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        position: relative;
    }
    
    .details-img-tag {
        position: absolute;
        top: 6%;
        left: 6%;
        background-color: var(--first-color);
        padding: 0.3rem 0.5rem;
        color: white;
        font-size: var(--small-font);
        border-radius: 0.5rem;
    }
    
    .product-img img {
        width: 150px;
    }
    
    .details-subtitle {
        font-size: var(--small-font);
        color: var(--text-color);
        margin-bottom: 0.7rem;
    }
    
    .details-title {
        font-size: var(--h2-font);
        font-weight: var(--font-med);
        margin-bottom: 0.85rem;
    }
    
    .rating {
        display: flex;
        align-items: center;
        column-gap: 1.2rem;
        margin-bottom: 1.5rem;
    }
    
    .rating span {
        font-size: var(--small-font);
    }
    
    .details-prices {
        display: inline-flex;
        align-items: center;
        column-gap: 0.8rem;
        margin-bottom: 1.5rem;
    }
    
    .details-price {
        font-weight: var(--font-med);
        color: var(--title-color);
        font-size: var(--h3-font);
    }
    
    .details-discount {
        color: var(--first-color);
        text-decoration: line-through;
        font-weight: var(--font-med);
    }
    
    .discount-percentage {
        background-color: var(--title-color);
        padding: 0.25rem 0.4rem;
        font-size: var(--small-font);
        color: #fff;
    }
    
    .details-discription {
        margin-bottom: 2rem;
        font-size: var(--small-font);
    }
    
    .discription-title {
        font-size: var(--normal-font);
        margin-bottom: 0.5rem;
    }
    
    .details .cart-amount {
        margin-bottom: 2.5rem;
    }
    
    @media (max-width: 991px) {
        .details-container {
            grid-template-columns: 1.2fr .8fr;
            gap: 1rem;
        }
        .product-imgs {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            gap: 1rem;
        }
    }
    
    @media (max-width: 767px) {
        .details-container {
            grid-template-columns: 0.9fr;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }
    }
    
    @media (max-width:576px) {
        .details-container {
            grid-template-columns: 0.95fr;
        }
    }
    /*************** END DETAILS  ****************/
    /************** Start Cart ****************/
    
    .cart {
        position: fixed;
        background-color: var(--body-color);
        z-index: 999;
        max-width: 420px;
        box-shadow: -2px 0 4px var(--shadow);
        height: 100%;
        top: 0;
        right: -150%;
        padding: 3rem 2rem;
        transition: 0.4s;
    }
    
    .cart-title {
        font-size: var(--h2-font);
        text-align: center;
        margin-bottom: 3rem;
    }
    
    .cart-close {
        font-size: 2rem;
        color: var(--title-color);
        position: absolute;
        top: 1.25rem;
        right: .9rem;
        cursor: pointer;
    }
    
    .cart-container {
        display: grid;
        gap: 1.5rem;
    }
    
    .cart-card {
        display: flex;
        align-items: center;
        gap: 1.2rem;
    }
    
    .cart-box {
        background-color: var(--con-color);
        padding: .75rem 1.25rem;
        display: flex;
        align-items: center;
    }
    
    .cart-img {
        width: 90px;
    }
    
    .cart-title-center {
        font-size: var(--normal-font);
        margin-bottom: .5rem;
    }
    
    .cart-price {
        display: block;
        font-size: var(--normal-font);
        color: var(--first-color);
        margin-bottom: 1.5rem;
    }
    
    .cart-amount,
    .cart-amount-content {
        display: flex;
        align-items: center;
    }
    
    .cart-amount {
        gap: 3rem;
    }
    
    .cart-amount-content {
        gap: 1rem;
    }
    
    .cart-amount-box {
        display: inline-flex;
        padding: .3rem;
        background-color: var(--con-color);
        cursor: pointer;
    }
    
    .cart-amount-box:hover,
    .cart-amount-trash:hover {
        transform: scale(1.1);
        transform: rotate(360deg);
    }
    
    .cart-amount-trash {
        cursor: pointer;
        color: var(--first-color);
        font-size: 1.15rem;
        transition: width 2s, height 2s, transform 2s;
    }
    
    .cart-prices {
        margin-top: 6rem;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    
    .cart-prices-item,
    .cart-prices-total {
        color: var(--title-color);
    }
    
    .cart-prices-item {
        font-size: var(--small-font);
    }
    
    .cart-prices-total {
        font-size: var(--h3-font);
        font-weight: var(--font-bold);
    }
    
    .show-cart {
        right: 0;
    }
    /* End Cart */
    /* START LOGIN */
    
    .login {
        position: fixed;
        background-color: var(--body-color);
        z-index: 999;
        max-width: 420px;
        box-shadow: -2px 0 4px var(--shadow);
        height: 100%;
        top: 0;
        right: -150%;
        padding: 3rem 2rem;
        transition: 0.4s;
    }
    
    .login-title {
        font-size: var(--h2-font);
        text-align: center;
        margin-bottom: 3rem;
    }
    
    .login-close {
        font-size: 2rem;
        color: var(--title-color);
        position: absolute;
        top: 1.25rem;
        right: .9rem;
        cursor: pointer;
    }
    
    .login .login-form {
        gap: 1.5rem;
    }
    
    .login-content {
        background-color: var(--con-color);
        border-radius: .5rem;
        padding: .75rem 1rem .25rem;
    }
    
    .login-label {
        font-size: var(--small-font);
        color: var(--title-color);
    }
    
    .login-input {
        width: 100%;
        background-color: var(--con-color);
        color: var(--text-color);
        font-size: var(--normal-font);
        padding: .25rem .5rem .5rem 0;
    }
    
    .signup {
        color: var(--title-color);
        font-weight: var(--font-med);
    }
    
    .signup a {
        color: var(--first-color);
    }
    
    .show-login {
        right: 0;
    }
    /************ END LOGIN ************/
    /************ START LIGHTBOX ************/
    
    .lightbox {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .6);
        display: none;
        z-index: 99;
        justify-content: center;
        align-items: center;
        cursor: zoom-out;
        padding: 1.8rem;
    }
    
    .lightbox img {
        height: auto;
        width: auto;
        max-width: 100%;
        max-height: 450px;
        cursor: pointer;
        background-color: var(--con-color);
        display: block;
        padding: 0.6rem;
    }
    
    .lightbox-content {
        position: relative;
    }
    
    .lightbox-close {
        position: absolute;
        height: 40px;
        width: 40px;
        top: -2.2rem;
        right: 0;
        font-size: 2rem;
        color: var(--con-color);
        text-align: right;
        line-height: 40px;
        cursor: pointer;
    }
    
    .lightbox-caption {
        position: absolute;
        left: 0;
        bottom: -2.2rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: var(--normal-font);
        color: #fff;
    }
    
    .lightbox-control {
        margin: 0 5px;
    }
    
    .lightbox-control .prev-item,
    .lightbox-control .next-item {
        position: absolute;
        height: 40px;
        width: 40px;
        background-color: var(--body-color);
        color: var(--title-color);
        border-radius: 50%;
        line-height: 40px;
        text-align: center;
        cursor: pointer;
        top: 50%;
        margin-top: .20px;
        z-index: 110;
        transition: all 0.3s ease;
    }
    
    .lightbox-control .prev-item:hover,
    .lightbox-control .next-item:hover {
        transform: scale(1.1);
    }
    
    .lightbox-control .prev-item:active,
    .lightbox-control .next-item:active {
        transform: scale(1);
    }
    
    .lightbox-control .prev-item {
        left: 1.8rem;
    }
    
    .lightbox-control .next-item {
        right: 1.8rem;
    }
    /* Lightbox open */
    
    .lightbox.open {
        display: flex;
    }
    
    .lightbox.open .lightbox-content {
        animation: lightboxImage .5s ease;
    }
    
    @keyframes lightboxImage {
        0% {
            transform: scale(0.8);
        }
        100% {
            transform: scale(1);
        }
    }
    /************ END LIGHTBOX ************/
    /************ START STYLE SWITCHER ***********/
    
    .style-switcher {
        position: fixed;
        right: 0;
        top: 25%;
        width: 200px;
        z-index: 999;
        background-color: var(--con-color);
        padding: 1rem;
        box-shadow: -0.5px 0.5px 4px var(--shadow);
        border-radius: 0.3rem;
        transform: translateX(100%);
        transition: 0.4s;
    }
    
    .style-switcher .s-icon {
        position: absolute;
        width: 40px;
        height: 40px;
        align-items: center;
        font-size: 1.2rem;
        color: var(--title-color);
        background-color: var(--con-color);
        right: 100%;
        margin-right: 1.8rem;
        cursor: pointer;
        border-radius: 50%;
        line-height: 45px;
        top: 0;
    }
    
    .style-switcher .s-icon i {
        position: absolute;
        left: 25%;
        top: 25%;
    }
    
    .style-switcher h4 {
        margin-bottom: 1rem;
        color: var(--title-color);
        font-size: var(--normal-font);
        font-weight: var(--font-med);
        text-transform: capitalize;
    }
    
    .style-switcher .themes-colors {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .style-switcher .themes-colors button {
        height: 30px;
        width: 30px;
        position: relative;
        border-radius: 50%;
        vertical-align: middle;
    }
    
    .style-switcher .themes-colors button i {
        color: #fff;
        font-size: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }
    
    .style-switcher .themes-colors button.active i {
        display: block;
    }
    
    .style-switcher .color-1 {
        background-color: hsl(0, 88%, 61%);
    }
    
    .style-switcher .color-2 {
        background-color: hsl(260, 88%, 61%);
    }
    
    .style-switcher .color-3 {
        background-color: hsl(336, 88%, 61%);
    }
    
    .style-switcher .color-4 {
        background-color: hsl(284, 88%, 61%);
    }
    
    .style-switcher .color-5 {
        background-color: hsl(375, 88%, 61%);
    }
    /* OPEN */
    
    .style-switcher.open {
        transform: translateX(-10px);
    }
    /************ END STYLE SWITCHER ************/
    /*********** START DISCOUNT ********/
    
    .discount-container {
        grid-template-columns: repeat(2, max-content);
        gap: 5rem;
        justify-content: center;
        align-items: center;
        background-color: var(--con-color);
        padding: 3rem 0;
    }
    
    .discount-img {
        height: 300px;
    }
    
    .discount-data {
        padding-left: 5rem;
    }
    
    .discount-data h2 {
        margin-bottom: 1rem;
    }
    
    .discount-data .button:hover {
        padding: .5rem 3.5rem
    }
    
    .discount-data .discount-title {
        font-size: calc(var(--h2-font) + 4px);
    }
    
    @media (max-width: 767px) {
        .discount-container {
            grid-template-columns: repeat(1, 1fr);
            text-align: center;
        }
        .discount-data {
            padding-left: 0;
        }
        .discount-img {
            height: 300px;
            margin: 0 auto;
        }
    }
    
    @media (max-width: 991px) {
        .discount-container {
            gap: 2rem;
        }
    }
    /************ END DISCOUNT ********/
    /************ START NEW ********/
    
    .new {
        padding: 7rem 0 7rem;
    }
    
    .new-content {
        position: relative;
        background-color: var(--con-color);
        width: 307px;
        height: 380px;
        padding: 40px 80px;
        align-items: center;
        text-align: center;
        border-bottom-right-radius: 15px;
        overflow: hidden;
    }
    
    @media (max-width: 400px) {
        .new-content {
            width: 100%;
        }
    }
    
    .new-tag {
        position: absolute;
        display: inline-block;
        background-color: var(--first-color);
        color: #fff;
        padding: 0.3rem .8rem;
        border-radius: 4px;
        top: 6%;
        left: 6%;
    }
    
    .new-img {
        height: 160px;
        transition: .3s;
    }
    
    .new-title {
        padding: 5px;
        margin-top: 10px;
        margin-bottom: 4px;
    }
    
    .new-subtitle {
        margin-bottom: 24px;
        display: block;
    }
    
    .new-prices {
        display: inline-flex;
        align-items: center;
        gap: .4rem;
        margin-bottom: 15px;
    }
    
    .new-price {
        font-weight: var(--font-bold);
        color: var(--title-color);
        font-size: 1.25rem;
        margin-bottom: 6px;
    }
    
    .new-discount {
        color: var(--first-color);
        text-decoration: line-through;
    }
    
    .button.new-button {
        position: absolute;
        border-radius: .25rem 0 .75rem 0rem;
        right: -72px;
        bottom: 0;
        transition: 0.4s;
        padding: 0.4rem 1rem;
    }
    
    .new-content:hover .new-img {
        transform: translateY(-0.5rem);
    }
    
    .new-content:hover .new-button {
        right: 0;
    }
    
    @media (max-width: 767px) {
        .new-img {
            height: 140px;
        }
    }
    
    @media (max-width: 991px) {}
    /************ END NEW********/
    /*  */
    
    .steps {
        background-color: var(--con-color);
        padding: 7rem 2.5rem;
        border-radius: 1rem;
        overflow: hidden;
    }
    
    .steps-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding-top: 1rem;
    }
    
    .steps-box {
        background-color: var(--body-color);
        padding: 3rem;
        border-radius: 1rem;
    }
    
    .steps-box .number {
        background-color: var(--first-color);
        padding: 12px;
        color: #fff;
        margin-bottom: 20px;
        display: inline-block;
        font-size: 1.2rem;
        border-radius: .5rem;
        transition: 0.35s;
    }
    
    .steps-box .steps-title {
        margin-bottom: 18px;
    }
    
    .steps-box .steps-discription {
        line-height: 1.8;
    }
    
    .steps-box:hover .number {
        transform: translateY(-.7rem);
    }
    
    @media (max-width: 991px) {
        .steps-container {
            grid-template-columns: repeat(1, 1fr 1fr);
        }
    }
    
    @media (max-width: 767px) {
        .steps-container {
            grid-template-columns: repeat(1, 1fr);
        }
        .steps-box {
            text-align: center;
            max-width: 400px;
            margin: 0 auto;
        }
    }
    /* START NEWSLETTER */
    
    .newsletter {
        text-align: center;
    }
    
    .newsletter .newsletter-discription {
        font-size: 1.2rem;
        max-width: 450px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .newsletter-form {
        background-color: var(--con-color);
        max-width: 550px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        border-radius: 1rem;
    }
    
    .newsletter-input {
        padding: 20px;
        font-size: 1.1rem;
        border-radius: 1rem 0 1rem 0;
        width: 100%;
    }
    
    .newsletter-form button {
        padding: 20px;
        border-radius: 1rem 0 1rem 0;
    }
    /* END NEWSLETTER */
    /* Start Contact */
    
    .contact-container {
        grid-template-columns: 0.9fr 1.1fr;
        column-gap: 1.5rem;
    }
    
    .contact-info {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }
    
    .contact-icon {
        font-size: 2rem;
        color: var(--first-color);
        margin-right: 0.75rem;
    }
    
    .contact-title {
        font-size: var(--h3-font);
        font-weight: var(--font-med);
    }
    
    .contact-subtitle {
        font-size: var(--small-font);
        color: var(--text-color);
    }
    
    .contact-form {
        row-gap: 1.75rem;
    }
    
    .contact-content {
        background-color: var(--con-color);
        border-radius: 0.5rem;
        padding: .75rem 1rem 0.25rem;
    }
    
    .contact-label {
        font-size: var(--small-font);
        color: var(--title-color);
    }
    
    .contact-inputs {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
    
    .contact-input {
        width: 100%;
        background-color: var(--con-color);
        color: var(--text-color);
        font-size: var(--normal-font);
        border: none;
        outline: none;
        padding: 0.25rem 0.5rem 0.5rem 0;
    }
    
    @media (max-width: 991px) {
        .contact-inputs {
            grid-template-columns: 1fr;
            row-gap: 1.5rem;
        }
    }
    
    @media (max-width: 767px) {
        .contact-container {
            grid-template-columns: 1fr;
            row-gap: 1.5rem;
        }
    }
    
    @media (max-width:576px) {
        .contact {
            width: 95%;
        }
    }
    /* end Contact */
    /* START FOOTER */
    
    .footer {
        position: relative;
        overflow: hidden;
        padding-bottom: 6rem;
        padding-top: 9rem;
    }
    
    .footer-container {
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        gap: 1rem;
    }
    
    @media (max-width:767px) {
        .footer-container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    @media (max-width:576px) {
        .footer-container {
            grid-template-columns: repeat(1, 1fr);
            text-align: center;
        }
    }
    
    .footer-content {
        padding: 20px;
    }
    
    .footer-logo {
        font-size: 1.2rem;
        gap: 1rem;
        display: flex;
        margin-bottom: 30px;
        color: var(--title-color);
        font-weight: bold;
        padding-bottom: 8px;
        border-bottom: 1px solid var(--first-color);
    }
    
    .footer-discription {
        line-height: 1.6;
        margin-bottom: 50px;
        color: var(--text-color);
    }
    
    .footer-social {
        display: flex;
        gap: 2rem;
    }
    
    .footer-social-link {
        color: var(--first-color);
        transition: width 2s, height 2s, transform 2s;
    }
    
    .footer-social-link:hover {
        color: var(--first-color);
        transform: rotate(360deg);
    }
    
    @media (max-width:576px) {
        .footer-logo {
            justify-content: center;
        }
        .footer-social {
            justify-content: center;
        }
    }
    
    .footer-title {
        margin-bottom: 20px;
        font-size: var(--h3-font);
        border-bottom: 1px solid var(--first-color);
        padding-bottom: 8px;
    }
    
    .footer-copy {
        color: var(--text-color);
        margin: 41px;
        display: block;
        text-align: center;
        line-height: 1.6;
    }
    
    .footer-links li {
        margin: 30px 0;
    }
    
    .footer-links li .footer-link {
        color: var(--text-color);
        transition: 0.3s;
    }
    
    .footer-links li .footer-link:hover {
        color: #000;
        transform: scale(1.3);
    }
    /* END FOOTER */
    /* SCROLL UP */
    
    .scroll-up {
        position: fixed;
        bottom: -30%;
        right: 1.5rem;
        background-color: var(--first-color);
        color: #fff;
        display: inline-flex;
        border-radius: 1rem;
        padding: 4px 6px;
        z-index: 990;
        opacity: .8;
        transition: 0.4s;
    }
    
    .scroll-up:hover {
        opacity: 1;
    }
    
     ::-webkit-scrollbar {
        width: .6rem;
        border-radius: .5rem;
    }
    
     ::-webkit-scrollbar-track {
        background-color: var(--con-color);
    }
    
     ::-webkit-scrollbar-thumb {
        background-color: var(--first-color);
        border-radius: .5rem;
    }
    
     ::-webkit-scrollbar-thumb:hover {
        background-color: var(--first-color);
    }
    
    .show-scroll {
        bottom: 2rem;
    }